# Configuración Real de Producción
PORT=10000
STORAGE_MODE=local
GDRIVE_FOLDER_ID=1Qr6KXPxcgdlzbSHVyDOg4cBb4GReSAfD
AUTHORIZED_USER_EMAIL=eneekoruiz@gmail.com
DISABLE_AUTH=false

# Neon.tech PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_wdBTy4x7MFXD@ep-dawn-grass-zal9osgw-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Webhook Opcional (dejar vacío si no se usan notificaciones a Discord/Telegram)
WEBHOOK_URL=
