# Core
numpy
pandas
opencv-python-headless
Pillow
imagehash
scipy
scikit-learn

# UI
streamlit
streamlit-cropper

# AI Engines
onnxruntime
ultralytics
deepface
sentence-transformers
faiss-cpu
easyocr
torch
torchvision

# System & Utils
watchdog
tqdm
pytesseract

# Dev/Test
pytest
black
ruff
